<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475397064928-79u6itbjopbi20a9vjiob7m2iv7rfmqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475397064928-79u6itbjopbi20a9vjiob7m2iv7rfmqu</string>
	<key>API_KEY</key>
	<string>AIzaSyAHi4WoK-4KWhexc9gTqbj46co8bGQVb3I</string>
	<key>GCM_SENDER_ID</key>
	<string>475397064928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ahtung.xpayr</string>
	<key>PROJECT_ID</key>
	<string>xpayr-cfcc2</string>
	<key>STORAGE_BUCKET</key>
	<string>xpayr-cfcc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475397064928:ios:98d0738477b3a6c0</string>
	<key>DATABASE_URL</key>
	<string>https://xpayr-cfcc2.firebaseio.com</string>
</dict>
</plist>